.nav-button {
    background-color: #0e1626;
    color: #ffffff;
    padding: 6px 10px;
    margin: 10px 5px 10px 5px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    backdrop-filter: blur(1000px);
    text-decoration: none;
}

.nav-item {
    background-color: #0e1626;
    color: #ffffff;
    padding: 6px 15px;
    margin: 5px 5px 5px 5px;
    border-radius: 11px;
    cursor: pointer;
    text-align: center;
}

.title1{
    margin: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #000000;
    font-style: italic;
    cursor: pointer;
    text-decoration: none;
}

.text-box{
    width: 100%;
    background: rgb(196, 194, 194);
    padding: 5%;
    margin-bottom: 5%;
    border-radius: 10px;
    font-style: oblique;
}

.card-group{
    padding: 20px;
    margin: 5px 10px 5px 10px;
}

.contact{
    margin: 0px 30px 0px 30px;
    padding: 0;
}

.carousel-inner{
    margin: 0px 1px 0px 1px;
    border-radius: 20px;
}

.hero{
    background-color: white;
}

.contact1{
    text-align: center;
}

.button-login{
    margin-bottom: 25px;
    padding: 4% 40%;
    border-radius: 10px;
    font-size: 18px;
    border-color: #ffffff;
    color: #000000;
    background-color: #f1f1f1;
}

.form-floating{
    margin: 1% 5%;
}

.bi-instagram,.bi-facebook,.bi-youtube{
    font-size: 38px;
    color: #000000;
}

.info{
    padding: 10px;
    margin: 0px 10px 0px 10px;
}

