
.nav-button {
    background-color: #0e1626;
    color: #ffffff;
    padding: 6px 20px;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    backdrop-filter: blur(1000px);
    text-decoration: none;
}
